
.suckertreemenu 
	{
	width: 950px;
	height: 60px;
	margin: 0 auto;
	background: #6AA2FD url(/bacolodcitypoliceoffice/admin/include/images/img04.gif);
	text-align:center;
	vertical-align:middle;
	}

.suckertreemenu ul
	{
	margin: 0;
	padding: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: white;
	}

.suckertreemenu ul li 
	{
	position:relative;
	float:left;
	font-family: "Verdana";
	font-size: 14px;
	color: #FFFFFF;
	display: block;
	padding: 18px 2px 2px 4px;
	height: 20px;
	width: 170px;
	text-decoration: none;
	font-weight: bold;
	}

.suckertreemenu ul li a
	{
	font-family: "Verdana";
	font-size: 16px;
	color: #FFFFFF;
	padding: 14px 2px 2px 2px;
	height: 40px;
	width: 150px;
	text-decoration: none;
	font-weight: bold;
	}
	
.suckertreemenu ul li ul
	{
	left: 0;
	position: absolute;
	top: 1em; 
	display: block;
	visibility: hidden;
	}

.suckertreemenu ul li ul li
	{
	display: list-item;
	float: none;
	}

	{ 
	left: 159px; 
	top: 0;
	}

.suckertreemenu ul li ul li a
	{
	display: block;
	width: 145px;
	color:#FFFFFF;
	text-decoration: none;
	background-color:#D5D9DA;
	border:thin;
	border-color:#52819F;
	border-style:solid;
	color: #52819F;
	}

.suckertreemenu ul li a:hover
	{
	background-color:#7DAEFD;
	color: white;
	}


.suckertreemenu .mainfoldericon
	{
	width:10px;
	color:#FFFFFF;
	}

.suckertreemenu .subfoldericon
	{
	background: #000000 no-repeat center right;
	}

* html p#iepara
	{ 
	padding-top: 1em;
	}
	
/* Holly Hack for IE \*/
* html .suckertreemenu ul li 
	{ 
	float: left;
	height: 10px; 
	}

* html .suckertreemenu ul li a 
	{
	height: 1%; 
	}




