/* CSS Document */
body
{
background-image:url(/bcpo/admin/include/bg.jpg);
background-attachment:fixed;
}

.mainTable
{

}

.headTable
{
background-color:#163233;65ad01
}

.headTable2
{
background-color:#65ad01;

}

.nav 
{
background-image:url(nav.jpg);
color:#FFFFFF;
font-weight:bold;
font-size:11px;
font-family: Verdana, Arial, Helvetica, sans-serif;
text-align:center;
}

.style1 {font-family: Verdana, Arial, Helvetica, sans-serif;color:#FFFFFF;}